#LOCAL_SETUP - used by first_setup.sh scripts
LOCAL_DOCKER_USER=dockeruser1
LOCAL_DOCKER_GROUP=dockeruser1
LOCAL_DOCKER_VOLUME_DIR=/docker-vol1
DOMAIN=rjruss.org
BASE_HOST=newhost-
STEP_HOST=${BASE_HOST}step
POSTDB_HOST=${BASE_HOST}post
GITEA_HOST=${BASE_HOST}gitea
MX_SHARED_ENV_GROUP=5501
MX_SHARED_GROUP_NAME=sharedenv
MX_SHARED_DIR=/srv/shared
MX_AGEDIR=/srv/shared/.age
MX_AGEDIR_KEYS=/srv/shared/.age/.keys
MX_AGEDIR_INFO=/srv/shared/.age/.info
MX_POSTGRES_USER=gitea
MX_POSTGRES_DB=gitea
#MX_STEP_HOST=container name and port or swap to DNS host 
MX_APP_STEP_VERSION=0.27.2
MX_APP_STEP_PORT=9011
MX_STEP_HOST=https://base-step-run:${MX_APP_STEP_PORT}
MX_APP_POSTGRES_VERSION=17
MX_APP_GITEA_VERSION=1.22.0
MX_APP_GITEA_PORT=3011
MX_APP_GITEA_SSH_PORT=2222
#
USER_UID=1245
USER_GID=1245
MX_ALLOWED_SUBNET=172.18.0.0/16,10.10.50.216/24
